<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add exercise</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/user/menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/login">Logout</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>



      <br><h3>What exercise have you done, how many sets and reps?</h3>
      <form action="#" th:action="@{/user/add-exercises}" th:object="${addExercise}" method="post" >
        <p>exercise: <input type="text" th:field="*{exercise}" /></p>
        <p>sets: <input type="text" th:field="*{sets}" /></p>
        <p>reps: <input type="text" th:field="*{reps}" /></p>
        <h5 style="color:Red;" th:text="${statusMessage}"></h5>
        <p><input type="submit" value="Add" /></p>
      </form>

      <br><br><h3>Want to see your history exercises? Easy, follow bellow instruction</h3>
    <form action="#" th:action="@{/exercises/history}" th:object="${history}" method="get" >
    <p><input type="submit" value="See history" /></p>
  </form>
</div>
</body>
</html>