<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/user/login">Logout</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>


    <br><h2 th:text="${'Welcome ' + nume}"></h2>


    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand mb-0 h1" href="/user/exercises-description">Description of exercises</a>
    </nav>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand mb-0 h1" href="/user/add-exercises">Add exercise</a>
    </nav>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand mb-0 h1" href="/exercises/generate-workout">Generate workout</a>
    </nav>

</div>

</body>
</html>