<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Workout generated</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/user/menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/login">Logout</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>


  <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">Exercise</th>
      <th scope="col">Sets</th>
      <th scope="col">Reps</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="content : ${contentReceived}">
      <th scope="row" th:text="${content.exercise}"></th>
      <td th:text="${content.sets}"></td>
      <td th:text="${content.reps}"></td>
    </tr>
    </tbody>
  </table>

</div>
</body>
</html>