<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/user/login">Login</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <div class="position-relative">
    <div class="position-absolute top-25 start-100 translate-middle-x"><br>

      <div >
        <form class="px-4 py-3"  action="#" th:action="@{/}" th:object="${registration}" method="post">
          <h3>Sign up</h3><br>
          <div class="form-group">
            <label for="exampleDropdownForm1">First Name</label>
            <input type="text" th:field="*{firstName}" class="form-control" id="exampleDropdownForm1" />
          </div>
          <div class="form-group">
            <label for="exampleDropdownForm2">Last Name</label>
            <input type="text" th:field="*{lastName}" class="form-control" id="exampleDropdownForm2" />
          </div>
          <div class="form-group">
            <label for="exampleDropdownForm3">Username</label>
            <input type="text" th:field="*{username}" class="form-control" id="exampleDropdownForm3" />
          </div>
          <div class="form-group">
            <label for="exampleDropdownFormPassword1">Password</label>
            <input type="password" class="form-control" id="exampleDropdownFormPassword1" th:field="*{password}" >
          </div>
          <div class="form-group">
            <label for="exampleDropdownFormPassword2">Repeat password</label>
            <input type="password" class="form-control" id="exampleDropdownFormPassword2" th:field="*{password1}" >
          </div>
          <h5 style="color:Red;" th:text="${errorMessage}"></h5>
          <button type="submit" class="btn btn-primary">Submit</button>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/login">Already have an account? Sign in</a>
        </form>



      </div>


    </div>
  </div>
</div>
</body>
</html>